#!/bin/bash
if [[ "$1" == "--data" ]]; then
    volume=$2
    shift 2
    docker run -v $volume:{workdir}/data -it {docker_id} python "$@"
else
    docker run -v $PWD:{workdir}/data -it {docker_id} python "$@"
fi
